.comren_container {
    margin: 20px;
}

.comren_heading {
    margin-top: 150px;
    text-align: center;
    font-weight: bold;
}

.comren_divider {
    color: lightsalmon;
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin: 10px;
    margin-bottom: 50px;
}

.content_container {
    margin: 40px;
}

.comren_content {
    font-size: 0.9em;
}

.comren_mem_list {
    margin: 7px;
}

.comren_mem_text {
    color: #1aa1ab;
}

.comren_mem_text:hover {
    color: #1aa1ab;
    font-weight: bolder;
}

.comren_icon_container {
    display: flex;
    height: 200px;
    margin-top: 80px;
}

@media only screen and (max-width: 992px) {
    .comren_icon_container {
        justify-content: center;
        margin: 10px;
        margin-right: 70px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.comren_icon {
    margin: 30px;
}

.comren_subheading {
    margin-top: 130px;
    text-align: center;
    color: steelblue;
}

@media only screen and (min-width: 992px) {
    .comren_youtube {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
        margin: 40px;
        border-radius: 20px;
        margin-bottom: 80px;
    }

    .comren_youtube iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}

@media only screen and (max-width: 992px) {
    .comren_youtube {
        margin: 40px;
        overflow: hidden;
        padding-bottom: 56.25%;
        border-radius: 20px;
        position: relative;
        height: 0;
    }

    .comren_youtube iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}

.comren_funding_image_container {
    margin: 40px;
    text-align: center;
}

.comren_funding_image {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}
