.navbar_container {
    min-height: 90px;
    max-height: max-content;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: lightsalmon;
    z-index: 9999;
}

.comren_image {
    height: 70px;
    object-fit: contain;
    justify-items: start;
    border-radius: 20px;
}

@media only screen and (max-width: 992px) {
    .menu_icon_container:hover {
        background-color: lightcyan;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 992px) {
    .menu_icon_container {
        display: none;
    }
}

.menu_icon{
    padding: 30px;
}

@media only screen and (max-width: 992px) {
    .comren_nav_items_div:hover {
        border-radius: 10px;
    }

    .comren_nav_items_div {
        width: auto;
        text-align: right;
    }
}


@media only screen and (min-width: 992px) {
    .comren_nav_items_div {
        text-align: right;
        border-radius: 20px;
    }
}

.nav_items_button {
    display: inline-block;
    border-radius: 4px;
    background-color: steelblue;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 11px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 4px;
  }
  
  .nav_items_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .nav_items_button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .nav_items_button:hover span {
    padding-right: 15px;
  }
  
  .nav_items_button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .nav_items_button_fall_school {
    display: inline-block;
    border-radius: 4px;
    background-color: steelblue;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 11px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 4px;
  }

  .nav_items_button_fall_school:hover {
      background-color: lightslategray;
      color: black;
  } 